<div class='page-header'>
  <h1><%= @listing.title %></h1>
</div>
<div class='images-container col-md-6'>
  <% @listing.images.each do |i| %>
    <%= image_tag attachment_url(i, :file, :fill, 300, 200) %>
  <% end %>
</div>
<div class='col-md-6'>
  <span>Address: <%= @listing.address %></span><br/>
  <span>Price: <%= @listing.price %></span><br/>
  <span>Bedrooms: <%= @listing.bed %></span><br/>
  <span>Bathrooms: <%= @listing.bath %></span><br/>
  <span>Half Baths: <%= @listing.half_bath %></span><br/>
  <span>Square Footage: <%= @listing.square_foot %></span><br/>
  <% if @listing.appliances %>
    <span>Appliances:
      <ul class='list-inline'>
      <% @listing.appliances.split(',').each do |a| %>
        <li><%= a %></li>
      <% end %>
      </ul>
    </span><br/>
  <% end %>
  <% if @listing.features %>
    <span>Features:
      <ul class='list-inline'>
      <% @listing.features.split(',').each do |a| %>
        <li><%= a %></li>
      <% end %>
      </ul>
    </span><br/>
  <% end %>
  <span>Schools: <%= @listing.schools %></span><br/>
  <span>Description: <%= @listing.description %></span><br/>
  <%= link_to "Edit", edit_listing_path %>
  <%= link_to "Delete", listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
