<div class='full-listing-container'>
  <header class='col-lg-9'>
    <h2><%= @listing.title %><span class='pull-right'>
      <% if @listing.min_price && @listing.max_price %>
        $<%= @listing.min_price %> - $<%= @listing.max_price %>
      <% else %>
        $<%= @listing.max_price || @listing.min_price %>
      <% end %></span>
    </h2>
    <span class='listing-address'><%= @listing.address %></span>
  </header>
  <aside class='col-lg-3 pull-right property-icons sidebar'>
    <div class='inline-buttons'>
      <%= render '/shared/favorite_listing', listing: @listing %>
      <% if can? :manage, @listing %>
        <%= link_to "Edit", edit_listing_path, class: 'btn btn-default' %>
        <%= link_to "Delete", listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default' %>
      <% end %>
    </div>
    <div class='sidebar-form section'>
      <%= render '/shared/more_info' %>
    </div>
  </aside>
  <div class='col-lg-9 listing-body'>
    <p>
      <b><%= @listing.bed %></b> Beds -
      <b><%= @listing.bath %></b> Baths -
      <b>Pets</b> <%= @listing.pets %> -
      <% unless @listing.half_bath.nil? || @listing.half_bath == 0 %><b><%= @listing.half_bath %></b> Half Baths <% end %>
      <% if @listing.square_foot %>
        <b><%= @listing.square_foot %>+</b> sq. feet
      <% else %>
        <b>Square Footage Unavailable</b>
      <% end %>
    </p>
    <%= render 'image_slider' %>
    <div class='property-details'>
      <div class='details-header row'>
        <h3>Property Details</h3>
      </div>
      <div class='details-section row'>
        <div class='description'>
          <div class='col-md-3 col-lg-2 section-label'>
            <span>Description</span>
          </div>
          <div class='col-md-9 col-lg-10 section-body'>
            <span><%= @listing.description %></span>
          </div>
        </div>
      </div>
      <div class='details-section row'>
        <div class='schools'>
          <div class="col-md-3 col-lg-2 section-label">
            <span>Schools</span>
          </div>
          <div class='col-md-9 col-lg-10 section-body'>
            <% if @listing.schools %>
                <ul class='list-default'>
                <% @listing.schools.split(',').each do |a| %>
                  <li><%= a %></li>
                <% end %>
                </ul>
            <% end %>
          </div>
        </div>
      </div>
      <div class='details-section row'>
        <div class='appliances'>
          <div class="col-md-3 col-lg-2 section-label">
            <span>Appliances</span>
          </div>
          <div class='col-md-9 col-lg-10 section-body'>
            <% if @listing.appliances %>
              <% @listing.appliances.split(',').in_groups(2, false).each do |arr| %>
                <div class='col-lg-6 no-indent'>
                  <ul class='list'>
                    <% arr.each do |a| %>
                      <li><%= a %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class='details-section row last'>
        <div class='features'>
          <div class="col-md-3 col-lg-2 section-label">
            <span>Features</span>
          </div>
          <div class='col-md-9 col-lg-10 section-body'>
            <% if @listing.features %>
              <% @listing.features.split(',').in_groups(2, false).each do |arr| %>
                <div class='col-lg-6 no-indent'>
                  <ul class='list'>
                    <% arr.each do |a| %>
                      <li><%= a %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div> <!-- end of panel -->
  </div>
</div>
